* {
    box-sizing: content-box;
}
body{
    padding: 10px 5px;
    background-color: pink;   
}

#main {
    border-radius: 5px;
    background-color: #eee;
    height: 100%;
    text-align: center;
}

#head {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#pic-container{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    padding-left: auto;
    background-color: #fff;
}
img{
    height: 100%;
    width: auto;
    right: 30%;
}
.info {
    color: black;
}
#footer{
    color: red;
}
